.Edimenu
{   margin-top: 1rem;
    margin-left: 1rem;
    margin: auto;
    background-color: rgb(19, 182, 211);
    display: flex;


}

.Borguesa
{
    
width: 40px;
height: 40px;

}
.cont
{
background-color: rgb(63, 222, 243);

}
.logo
{
width: 90px;
height: 80px;
margin-left: 38rem;
background-color:rgb(19, 182, 211);
}

.Ce
{
    margin-top: 1rem;
    margin-left: 1rem;
    height: 40px;
    margin-left: 50px;

}

.Pe
{
    margin-top: 1rem;
    margin-left: 1rem;
    
    margin-left: 23rem;
    
}
